.container {
  display: grid;
  grid-template-rows: 100vh auto 300px;
  grid-template-columns: auto;
  grid-template-areas:
    "intro"
    "about "
    "footer";
}


@media only screen and (max-width: 700px) {
    .container {
        display: grid;
        grid-template-rows: 100vh auto 300px;
        grid-template-columns: auto;
        grid-template-areas:
            "intro"
            "about"
            "footer";
    }
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
}
  

/* faking a css reset because I don't 
   actually know how to do that */
html, body { margin: 0; padding: 0; }
body { overflow: overlay; }

html { scroll-behavior: smooth; }

img { max-width: 100%; }


/* Styling headings and paragraph text */
h1 { 
    font-family: "cormorant-garamond";
    font-size: 64px; 
    font-weight: 700; 
    line-height: 26.4px; 
} 
h2 {
    font-family: "cormorant-garamond"; 
    font-size: 24px;  
    font-weight: 400;
    font-variant: normal;  
    line-height: 23px; 
}
h3 { 
    font-family: "Montserrat"; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: small-caps; 
    font-weight: 400;  
    margin: 0px;
}

p {
    font-family: "Montserrat", sans-serif; 
    font-size: 15px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
}

/* Style the footer */
.footer {
    position: relative;
    background-color: #D2C4BF;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 35px;
    grid-area: footer; 
    overflow: hidden;
}
.footer-icons {
    width: 100%;
    margin: auto;
    text-align: center;
}
.footer-icons svg {
    padding: 10px;
    stroke-width: 1.5;
}
.footer a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: "cormorant-garamond"; 
    font-style: italic; 
    font-weight: 300; 
    transition: 0.3s;
}
.footer .bottom-text {
    display: inline-block; 
    position: absolute;
    bottom: 10%;  
    width: 95%;
}
.footer #copyright {
    float: left;
    padding-left: 5%;
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
}
.footer #backtotop {
    float: right;
}
.footer #backtotop a {
    display: inline-block; 
    text-align: right;
    -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: transform; transition-property: transform; -webkit-transform: translateZ(0); transform: translateZ(0);
}
.footer #backtotop a:hover {
    -webkit-transform: translateY(-5px); 
    transform: translateY(-5px);
}
.footer #backtotop a svg {
    width: 45px;
    height: 45px;
    stroke-width: 0.5;
}
.footer svg {
    transition: 0.3s;
    width: 34px;
    height: 34px;  
}
.footer svg:hover {
    fill:rgba(255, 255, 255);
    stroke-width: 1;
    stroke: rgb(207, 186, 186);
}
.footer #backtotop a svg:hover {
    fill: none;
    stroke-width: 0.5;
    stroke: white;
}

@media (max-width: 700px) {
    .footer .bottom-text {
        text-align: center;
        display: flex;
        margin: auto;
        flex-wrap: wrap;
    }
    .bottom-text #copyright {
        padding-left: 0%;
        padding-right: 15px;
        padding-bottom: 20px;
        width: 100%;
        margin: auto;
    }
    .bottom-text #backtotop {
        padding-right: 15px;
        width: 100%;
        margin: auto;
    }
    .bottom-text #backtotop a {
        font-size: 20px;
    }
    .bottom-text #backtotop svg {
        display: none;
    }
}

/* Styling the introduction section */
.intro { 
    background: url(../images/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    grid-area: intro; 
    position: relative;
    overflow: hidden;
}
.intro-text {
    padding: auto;
    padding-top: 38vh;
    text-align: center;
}
.intro h2 {
    font-style: italic;
}
.intro h3 {
    font-size: 30px;
}
.intro a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

.intro .top-icons {
    margin-top: 3vh;
    margin-right: 3vw;
    text-align: right;
}

.intro .top-icons svg {
    transition: 0.3s;
    stroke-width: 1.5;
    width: 24px;
    height: 24px;
}
.intro .top-icons svg:hover {
    fill:rgba(255, 255, 255);
    stroke-width: 1;
    stroke:rgb(207, 186, 186)
}

.intro .down {
    position: absolute; 
    bottom: 3%; 
    width: 100%;
    text-align: right; 
    color: white; 
}
.intro .down svg {
    margin-right: 1vw; 
    transition: 0.3s;
    stroke-width: 0.8;
    width: 75px;
    height: 75px;
    display: inline-block; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: transform; transition-property: transform; -webkit-transform: translateZ(0); transform: translateZ(0);
}
.intro .down svg:hover, .intro .down svg:focus, .intro .down svg:active {
    cursor: pointer;
    -webkit-transform: translateY(5px); 
    transform: translateY(5px);
}

@media (max-width: 700px) {
    .intro {
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
    }
    .intro h1 {
        font-size: 45px;
    }
}

/* Styling the about me section */
.about {
    color: hsl(240, 3%, 14%);
    background-color: #F4EDEC;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 5%;
    padding-left: 5%;
    grid-area: about;
    vertical-align: middle;
}
.about h2 {
    color: #222020;
    font-style: italic;
    font-size: 30px;
}
.about a {
    color: rgb(204, 141, 141);
    text-decoration: none;
}
.about a:hover {
    color: rgba(180, 120, 120);
}
.about-content{
    width: 70%;
    margin: auto;
    display: flex;
}
.about img {
    display: inline-block;
    width: auto;
    height: 450px;
    padding-right: 5vh;
}
.about-text {
    display: inline-block;
}

@media (max-width: 1000px) {
    .about {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .about-content {
        display: block;
        text-align: center;
    }
    .about h2{
        font-size: 26px;
    }
    .about img {
        height: auto;
        margin: auto;
    }
    .about-text {
        text-align: left;
    }
}


/* Scrollbar Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.8) transparent;
  }
  
  /* Scrollbar Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 20px;
    background-color: transparent;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    border: 6px solid rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0.75);
    background-clip: padding-box;
    border-radius: 10px;
  }
  
  
/* Selection */
::-moz-selection { /* Code for Firefox */
    color: white;
    background: rgba(190, 204, 141, 0.8);
}
  
::selection {
    color: white; 
    background: rgba(190, 204, 141, 0.8);
}
