.container {
  display: grid;
  grid-template-rows: 75px 600px 300px auto 300px;
  grid-template-columns: 300px auto;
  grid-template-areas:
    "header  header"
    "aside   intro"
    "about   about"
    "main    main"
    "footer  footer";
}

@media (max-width: 900) and (min-width: 600px) {
    .container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 30% 70%;
        grid-template-areas:
            "header header"
            "aside  intro"
            "about  about"
            "main   main"
            "footer footer";
    }
}

@media only screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "intro"
            "aside"
            "about"
            "main"
            "footer";
    }
    nav a {
        visibility: hidden;
        display: none;
        padding-top: 50px;
    }
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
}
  
/* Makes columns stack on top of each other in mobile view */
@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
    }
}
  

/* faking a css reset because I don't 
   actually know how to do that */
html, body { margin: 0; padding: 0; }

html { scroll-behavior: smooth; }

img { max-width: 100%; }

::-moz-selection { /* Code for Firefox */
    color: rgb(80, 80, 80);
    background: rgb(106, 236, 187);
}
  
::selection {
    color: rgb(80, 80, 80); 
    background: rgb(106, 236, 187);
}
  
/* Styling different headings and paragraph text */
h1 { 
    font-family: "Playfair Display Bold", "Playfair Display";
    font-size: 90px; 
    font-style: bold;
    font-weight: 700; 
    line-height: 26.4px; 
} 
h2 {
    font-family: "Playfair Display"; 
    font-size: 24px;  
    font-weight: 400;
    font-variant: normal;  
    line-height: 23px; 
}
h3 { 
    font-family: "Montserrat"; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: small-caps; 
    font-weight: 400;  
    margin: 0px;
}

p {
    font-family: "Montserrat"; 
    font-size: 15px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
}

ul {
    font-family: "Montserrat"; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    list-style-type: none;
}

/* Styling the header and nav bar */
.header { 
    background-color: #5569DC;
    color: white;
    grid-area: header;
}

nav {
    margin-left: 350px;
    margin-top: 10px;
}
/* Style the links inside the navigation bar */
nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Playfair Display"; 
    font-style: italic; 
    font-weight: 300; 
}
/* Change the color of links on hover */
nav a:hover {
    color: rgb(173, 162, 236);
}
/* Add a color to the active/current link */
nav a.active {
    background-color: rgba(193, 186, 235, 0.664);
    color: white;
}

/* Style the side bar */
.aside { 
    background-color: #5569DC;
    color: white;
    text-align: center;
    padding-top: 50px;
    grid-area: aside; 
}
.aside h2{
    font-size: 30px;
    font-weight: 700;
}

@media (max-width: 600px) {
    .aside h2 {
        font-size: 0;
    }
}
.aside p { 
    font-size: 14px;
}

.button {
    background-color: white;
    border: none;
    color: #5569DC;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* Style the social media icons! */
.aside a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px; 
    font-family: "FontAwesome"; 
}
.fab {
    padding: 10px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: #5569DC;
    color: white;
}
.fab:hover {
    opacity: 0.7;
}

/* Style the footer */
.footer {
    background-color: #5569DC;
    color: white;
    padding-left: 150px;
    padding-right: 150px; 
    padding-top: 15px;
    grid-area: footer; 
}
.footer a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-family: "Playfair Display"; 
    font-style: italic; 
    font-weight: 300; 
}
.footer a:hover {
    color: rgb(173, 162, 236);
}
.footer .social a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px; 
    font-family: "FontAwesome"; 
    font-style: normal;
    padding-bottom: 10px;
}
.footer .button {
    background-color: white;
    border: none;
    color: #5569DC;
    padding: 13px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
@media (max-width: 800px) {
    .footer {
        padding-left: 50px;
        padding-right: 50px;
    }
}

/* Styling the introduction section */
.intro { 
    background: url(../images/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    grid-area: intro; 
    padding-right: 150px;
    padding-top: 200px;
    text-align: right;
}
.intro h2 {
    font-style: italic;
}
.intro h3 {
    font-size: 30px;
}

@media (max-width: 800px) {
    .intro {
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 200px;
        padding-bottom: 10px;
    }
    .intro h1 {
        font-size: 30px;
    }
    .intro h2 {
        font-size: 18px;
        font-style: italic;
    }
    .intro h3 {
        font-size: 15px;
    }
}

/* Styling the about me section */
.about {
    color: hsl(240, 3%, 14%);
    background-color: rgb(205, 216, 236);
    padding-left: 300px;
    padding-right: 150px;
    padding-top: 30px;
    grid-area: about;
    vertical-align: middle;
}
.about h2 {
    color: #5569DC;
    font-style: italic;
    font-size: 30px;
}
.about h3 {
    color: #5569DC;
    font-size: 24px;
}
@media (max-width: 800px) {
    .about {
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media (max-width: 600px) {
    .about {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

/* Style the body */
.main { 
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 30px;
    padding-bottom: 50px;
    grid-area: main; 
    color: hsl(240, 3%, 14%);
}
.main h2 {
    color: #5569DC;
    font-style: italic;
    font-size: 30px;
}
.main h3 {
    color: #5569DC;
    font-size: 22px;
}
@media (max-width: 800px) {
    .main {
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media (max-width: 600px) {
    .main {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.main #activities ul {
    font-size: 12px;
    font-style: italic;
    padding:0;
}

table {
    width: 100%;
    color: hsl(240, 3%, 14%);
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400px;
}
table td:nth-child(1) {
    width: 23%;
    font-size:14px;
    text-align: right;
}
td {
    padding: 20px;
    vertical-align: top;
}
@media (max-width: 600px) {
    td {
        padding: 20px;
        padding-right: 5px;
    }
    table td:nth-child(1) {
        font-size:13px;
    }
}
